.dot {
    height: 70px;
    width: 70px;
    background-color: #30e3ca;
    border-radius: 50%;
    display: inline-block;
    margin: 30px;
    box-shadow: 0px 0px 10px #aaaaaa;
    pointer-events: auto;
}

.add-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: 40px;
    color: white;
    pointer-events: none;
}

.thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.group-card {
    margin: auto;
    margin-top: 50px;
    height: 400px;
}

@media (max-width: 992px) {
}

.group-container {
    text-align: center;
}

.group-image {
    width: 100px;
}

@media (min-width: 992px) {
    .group-container {
        display: block;
        float: left;
    }

    .group-card {
        margin: 30px;
        display: block;
        float: left;
    }
}