.add-place-form {
    margin-top: 25px;
}

.members {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-btn {
    margin-top: 12px;
    margin-bottom: 25px;
}

.header {
    margin-top: 10px;
}
.add-member-form {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cancel-member:hover {
    text-decoration: underline;    
}

.group-card-view {
    margin: auto;
    margin-top: 25px;
    width: 18em;
}

@media (min-width: 992px) {
    .group-card-view {
        width: 400px;
    }

}

.group-container {
    text-align: center;
}

