.add-place-form {
    margin-top: 25px;
}

.members {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-btn {
    margin-top: 12px;
    margin-bottom: 25px;
}

.header {
    margin-top: 10px;
}
.add-member-form {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cancel-member:hover {
    text-decoration: underline;    
}

.group-card {
    margin: auto;
    margin-top: 25px;
}

.group-container {
    text-align: center;
}